//
   Created by yu869 on 2015/10/27.

extends ../layouts/vendor
block header
  link(rel="stylesheet" href="/plugins/select2/select2.css")
//应用的page title
block pageTitle
  if viewType == 'add'
    h1 洗衣店信息新增
      small 添加洗衣店信息
  if viewType == 'edit'
    h1 洗衣店信息编辑
      small 编辑洗衣店信息
block main
  //#mapModal.modal(style="")
  #mapModal.modal(style="position:absolute;")
    #map.map(style="width:100%;height:100%;top:0")
    button.close(data-dismiss="modal", aria-label="Close" style="position:fixed;top:10px;right:10px;z-index:1100")
      span 确定坐标
  //.modal-footers
  .box
    .box-header.with-border
      if viewType == 'add'
        h3.box-title 添加洗衣店信息
      if viewType == 'edit'
        h3.box-title 编辑洗衣店信息

      .pull-right
        a.btn.btn-xs(href='/vendor/storeInFran/#{schoolId}')
          i.fa.fa-reply
          | &nbsp; 取消

    .panel-body
      div#storeEdit.row
        div.col-md-12
          form#storeDelForm(method='post', style='display:none', action='/vendor/storeDel')
            input#ids(type='hidden',name='ids')
            input#_csrf(type='hidden', name='_csrf', value=_csrf)
            input#formH5(type='hidden', name='formH5', value='formH5')
            input#schoolId(type='hidden',name='schoolId', value="#{store != null ? store.schoolId : ''}")

          form#storeForm.form-horizontal(name='storeForm', action='/vendor/storeSave', method='post')
            input#id(type='hidden', name='id', value="#{store != null ? store._id : ''}")
            input#_csrf(type='hidden', name='_csrf', value=_csrf)
            input#formH5(type='hidden', name='formH5', value='formH5')
            input#schoolId(type='hidden', name='schoolId', value='#{schoolId}')

            div#messageBox.callout.callout-danger.hidden

            div.row.form-group
              label.control-label.col-md-2 名称：
                span.required *
              div.controls.col-md-10
                input#name.form-control.required(name='name', value="#{store != null ? store.name : ''}")

            div.row.form-group
              label.control-label.col-md-2 营业时间从：
                span.required *
              div.controls.col-md-9
                div.input-group
                  .input-group-addon
                    i.fa.fa-clock-o
                  input#start.form-control.required(name='start' value="#{store != null ? store.start : ''}" placeholder="00:00")

            div.row.form-group
              label.control-label.col-md-2 营业时间到：
                span.required *
              div.controls.col-md-9
                div.input-group
                  .input-group-addon
                    i.fa.fa-clock-o
                  input#end.form-control.required(name='end', value="#{store != null ? store.end : ''}" placeholder="00:00")

            div.row.form-group
              label.control-label.col-md-2 省：
                span.required *
              div.controls.col-md-10
                select#province.form-control(name="province")
                  option(value="") 请选择

            div.row.form-group
              label.control-label.col-md-2 市：
                span.required *
              div.controls.col-md-10
                select#city.form-control(name="city")
                  option(value="") 请选择

            div.row.form-group
              label.control-label.col-md-2 区：
                span.required *
              div.controls.col-md-10
                select#district.form-control(name="district")
                  option(value="") 请选择

            div.row.form-group
              label.control-label.col-md-2 经纬度：
              .controls.col-md-10
                .input-group
                  input#coordinate.form-control.required(name='coordinate', value="#{store != null ? store.coordinate.join(',') : ''}")
                  //input#coordinateCode.form-control.required(name='coordinateCode', type='hidden')
                  .input-group-btn
                    a#location.btn.btn-block.btn-default 定位

            div.row.form-group
              label.control-label.col-md-2 地址：
                span.required *
              .controls.col-md-10
                input#address.form-control.required(name='address', value="#{store != null ? store.address : ''}")

            div.row.form-group
              label.control-label.col-md-2 电话号码：
              div.controls.col-md-10
                input#tel.form-control(type="number" name='tel', value="#{store != null ? store.tel : ''}")

            div.row.form-group
              label.control-label.col-md-2 提供服务设备：
                span.required *
              div.controls.col-md-10
                each devicePrice in DevicePrices
                  .checkbox.icheck
                    input#label(type="checkbox", name="label", value="#{devicePrice.shortName}", checked=store != null ? store.label.indexOf(devicePrice.shortName) != -1 : false)
                    | &nbsp;#{devicePrice.type}

            div.row.form-group
              label.control-label.col-md-2 促销价格：
              div.controls.col-md-10
                input#discount.form-control(type="number" name='discount', value="#{store != null ? store.discount : ''}")

            div.row.form-group
              label.control-label.col-md-2 开始时间：
              div#startDatetimepicker.controls.col-md-10
                  input#startDate.form-control(type="text" name='startDate', value="#{store != null ? formatDatetime(store.startDate) : ''}")

            div.row.form-group
              label.control-label.col-md-2 结束时间：
              div#endDatetimepicker.controls.col-md-10
                input#endDate.form-control(type="text" name='endDate', value="#{store != null ? formatDatetime(store.endDate) : ''}")

            div.row.form-group
              label.control-label.col-md-2
              div.controls.col-md-10
                a#save.btn.btn-block.btn-primary
                  i.fa.fa-save
                  span 保存

                if viewType == 'edit'
                  a#del.btn.btn-block.btn-danger(href="#", onclick="del('#{store._id}')")
                    i.fa.fa-save
                    span 删除


//应用添加的脚本在scripts block中定义
block scripts
  script(src='/plugins/jquery-validation/dist/jquery.validate.min.js')
  script(src='/plugins/jquery-validation/dist/jquery.validate.messages_zh.js')
  script(src='/plugins/select2/select2.full.js')
  script(src='/plugins/bootbox/bootbox.min.js')
  script(src="http://api.map.baidu.com/api?v=2.0&ak=soAXo1XoypnI5XH63m8fdDO7")
  script(src='/plugins/datepicker/bootstrap-datepicker.js')
  script.
    $(document).ready(function () {

      $("#startDate").datepicker({
        language: 'cn',
        format: "yyyy-mm-dd"
      });

      $("#endDate").datepicker({
        language: 'cn',
        format: "yyyy-mm-dd"
      });

      // icheckbox
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' // optional
      });
      var form = $('#storeForm');

      function createmap(longitude, latitude) {
        var modal = $("#mapModal").modal({
          keyboard: false
        }).modal("show");

        window.map = new BMap.Map("map");
        window.map.addControl(new BMap.NavigationControl());
        window.point = new BMap.Point(longitude, latitude);
        var convertor = new BMap.Convertor();
        var pointArr = [];
        pointArr.push(window.point);
        convertor.translate(pointArr,1,5, function(d){
          if(d.status == 0){
            var point = d.points[0];
            window.offsetx = window.point.lng - point.lng;
            window.offsety = window.point.lat - point.lat;
            window.point = point;

            map.centerAndZoom(window.point, 16);//设置地图的中心点和坐标
            var marker1 = new BMap.Marker(window.point);  //创建标注
            map.addOverlay(marker1);
            map.addEventListener("click", function (e) {
              map.clearOverlays();
              window.point = e.point;
              var marker1 = new BMap.Marker(window.point);
              map.addOverlay(marker1);
              marker1.addEventListener("click", function (e) {

              });
              new BMap.Geocoder().getLocation(window.point, function (rs) {
                var addComp = rs.addressComponents;
                var opts = {
                  width: 200, /* 信息窗口宽度*/
                  height: 60, /* 信息窗口高度*/
                  title: "<b>定位到地址</b>", /* 信息窗口标题*/
                  enableAutoPan: true /*自动平移*/
                };
                var infoWindow = new BMap.InfoWindow("<p>" + addComp.province + "" + addComp.city + "" + addComp.district + "" + addComp.street + "" + addComp.streetNumber + "</p>", opts);  // 创建信息窗口对象
                map.openInfoWindow(infoWindow, window.point); //开启信息窗口
              });
            });

          }else{
          }

        });
        //});

        $('#mapModal').on('hidden.bs.modal', function (e) {
          $("#coordinate").val((window.point.lng+window.offsetx) + ',' + (window.point.lat+window.offsety));
          var geoc = new BMap.Geocoder();
          geoc.getLocation(window.point, function (rs) {
            var addComp = rs.addressComponents;
            //addComp.district + "" + addComp.street + "" + addComp.streetNumber+":" +
            $("#address").val(rs.address);
          });
          // do something...
        });
      }

      $("#location").on('click', function () {
        var point = $("#coordinate").val();
        if (point.trim() != '') {
          var pa = point.split(',');
          createmap(pa[0], pa[1]);
        } else if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function (p) {
                    var latitude = p.coords.latitude;//纬度
                    var longitude = p.coords.longitude;
                    console.log("经纬度" + (longitude + "," + latitude));
                    //$("#coordinateCode").val(longitude + "," + latitude);
                    createmap(longitude, latitude);
                  }, function (e) {//错误信息
                    var aa = e.code + "<br/>" + e.message;
                    bootbox.alert("无法获取到地理位置<br>" + aa);
                  }
          );
        } else {
          bootbox.alert("浏览器不支持定位功能!")
        }
      });

      $("#save").on('click', function () {
        //TODO: 获取洗衣店经纬度信息
        form.submit();
      });

      form.validate({
        rules: {
          name: {
            required: true
          }
          , province: {
            required: true
          }
          , city: {
            required: true
          }
          , address: {
            required: true
          }
          , label: {
            required: true
          }
        },
        messages: {
          name: "洗衣店名称必填!"
          , province: "省必填!"
          , city: "市必填!"
          , address: "洗衣店地址必填!"
          , label: "至少选取一个标签!"
        },
        errorLabelContainer: "#messageBox",
        wrapper: "li",
        invalidHandler: function (event, validator) {
          var errors = validator.numberOfInvalids();
          if (errors) {
            $("#messageBox").removeClass("hidden");
          } else {
            $("#messageBox").addClass("hidden");
          }
        }
      });

      $.getJSON("/vendor/province", function (data) {

        $.each(data, function (i, item) {
          $("#province").append("<option value='" + item.code + "|" + item._id + "|" + item.name + "'>&nbsp;" + item.name + "</option>");
          $("#province").append("<input type='hidden' id='" + item._id + "' value='" + item.code + "|" + item._id + "|" + item.name + "'/>");
        });

        var provinceId = "#{provinceId}";
        if (provinceId) {
          var key = $("#" + provinceId).val();
          $("#province").val(key);
          city(key);
        }

      });


      $("#province").on('change', function () {
        city($(this).val());
      });

      $("#city").on('change', function () {
        district($(this).val())
      });
    });

    function del(id) {
      $("#storeDelForm #ids").val(id);
      if (id) {
        bootbox.confirm("此操作将删除洗衣店，删除后须建立新洗衣店并重新绑定设备。是否删除？", function (result) {
          if (result) {
            $("#storeDelForm").submit();
          }
        });
      }
    }

    function city(provinceCode) {
      $.ajax({
        url: "/vendor/city",
        type: "GET",
        async: false,
        data: {'provinceCode': provinceCode},
        success: function (data) {
          if (data) {
            $("#city").html("");
            $("#city").append("<option value=''>&nbsp;请选择</option>");
            $("#district").html("");
            $("#district").append("<option value=''>&nbsp;请选择</option>");
            $.each(data, function (i, item) {
              $("#city").append("<option value='" + item.code + "|" + item._id + "|" + item.name + "'>&nbsp;" + item.name + "</option>");
              $("#city").append("<input type='hidden' id='" + item._id + "' value='" + item.code + "|" + item._id + "|" + item.name + "'/>");
            });

            var cityId = "#{cityId}";
            if (cityId) {
              var key = $("#" + cityId).val();
              $("#city").val(key);
              district(key);
            }
          }
        }
      });
    }

    function district(cityCode) {
      $.ajax({
        url: "/vendor/district",
        type: "GET",
        async: false,
        data: {'cityCode': cityCode},
        success: function (data) {
          if (data) {
            $("#district").html("");
            $.each(data, function (i, item) {
              $("#district").append("<option value='" + item.code + "|" + item._id + "|" + item.name + "'>&nbsp;" + item.name + "</option>");
              $("#district").append("<input type='hidden' id='" + item._id + "' value='" + item.code + "|" + item._id + "|" + item.name + "'/>");
            });

            var districtId = "#{districtId}";
            if (districtId) {
              var key = $("#" + districtId).val();
              $("#district").val(key);
            }
          }
        }
      });
    }