//
   Created by yu869 on 2015/10/27.

extends ../layouts/vendor
block header
//应用的page title
block pageTitle
  h1 加盟商申请
    small 加盟商填写申请信息
block main
  .box.box-primary
    .box-header.with-border
      h3.box-title 填写信息
    .panel-body
      div#storeEdit.row
        div.col-md-12
          div.row.form-group
          form#franchiseeRegForm.form-horizontal(name='franchiseeRegForm', action='/vendor/franchRegisterSave', method='post')
            input#_id(type='hidden', name='_id', value='#{fran._id}')
            input#_csrf(type='hidden', name='_csrf', value=_csrf)
            div.row.form-group
              label.control-label.col-sm-3
                | 申请人
                span.required(style="color:red") *
                |：
              div.col-sm-8
                input#fullname.form-control.required(type='text' name='fullname' value='#{fran.fullname}')
                span 填写申请人的真实姓名
            div.row.form-group
              label.control-label.col-sm-3
                | 身份证
                span.required(style="color:red") *
                |：
              div.col-sm-8
                input#numberID.form-control.required(type='text' name='numberID' value='#{fran.numberID}')
                span 填写申请人的真实身份证号
            div.row.form-group
              label.control-label.col-sm-3
                | 联系电话
                span.required(style="color:red") *
                |：
              div.col-sm-8
                input#tel.form-control.required(type='text' name='tel' value='#{fran.tel}')
                span 固定电话
            div.row.form-group
              label.control-label.col-sm-3
                | 移动电话
                span.required(style="color:red") *
                |：
              div.col-sm-8
                input#mobile.form-control.required(type='text' name='mobile' value='#{fran.mobile}')
                span 移动电话
            div.row.form-group
              label.control-label.col-sm-3
                | 邮箱
                span.required(style="color:red") *
                |：
              div.col-sm-8
                input#email.form-control.required(type='text' name='email' value='#{fran.email}')
                span 注意：邮箱格式是由字母、数据、_下划线等组成
            button#regSave.btn.btn-block.btn-primary(title='保存并下一步')
              i.fa.fa-save
              span &nbsp;下一步

//应用添加的脚本在scripts block中定义
block scripts
  script(src='/plugins/jquery-validation/dist/jquery.validate.min.js')
  script(src='/plugins/jquery-validation/dist/jquery.validate.messages_zh.js')
  script(src='/plugins/setup_validation.js')
  script(src='/js/franchisee/franchiseeRegisterForm.js')


