doctype html
html
    include head

    body
        p#idName.className1.className2 测试
        p #{counter}
        p=jadeVar
        p
            | 大段文本
            | 大段文本
        p \#{counter} 对变量进行转义

- var html = "<script></script>";
        | !{html}
        直接输出 script 标签
        br

- var a = 'abcdefg';
        p #{a}

        label
            | Username:
            input(name='user[name]')

        label Username:
            input(name='user[name]')

// 注释，输出为 <!-- ... -->

//- 不输出注释

